body {
    background: rgb(65, 50, 24);
    background-image: url("fundo.jpg");
    font: normal 15pt Arial;
}

#res {
    text-align: center;
}

#botao {
    display: flex;
    align-items: center;
    justify-content: center;  
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
